{% extends "dashboard.html" %}

{% block title %} Purchase update {% endblock %}

{% block content %}
    {% if purchases %}
        <div class="container-fluid position-relative">
            <div class="row g-4">
                <div class="col-12 col-xl-4">
                    <input style="max-width: 300px;" id="dateSearch" type="text" class="form-control" placeholder="Date" aria-label="Date">
                    <div id="notice2" class="text-danger fw-semibold" style="font-family: sans-serif;"></div>
                </div>
                <div class="col-12 col-xl-4">
                    <input style="max-width: 300px;" id="productNameSearch" type="text" class="form-control" placeholder="Product Name" aria-label="Product Name">
                </div>
                <div class="col-12 col-xl-4">
                    <button id="searchButton" class="btn btn-outline-success" style="width: 300px;">
                        <span id="spinnerSearch" class="spinner-border spinner-border d-none" aria-hidden="true"></span>
                        <span id="buttonTextSearch" role="status">Search</span>
                    </button>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead class="table-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Purchase Date</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Unit Cost</th>
                                <th scope="col">Total Cost</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody class="table-group-divider">
                              {% for purchase in purchases %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ purchase.purchase_date }}</td>
                                    <td>{{ purchase.product.product_name }}</td>
                                    <td>{{ purchase.Quantity }}</td>
                                    <td>{{ "{:,.2f}".format(purchase.unit_cost) }}</td>
                                    <td>{{ "{:,.2f}".format(purchase.total_cost) }}</td>
                                    <td><span selector="updateButton" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#purchase{{ purchase.id }}">Update</span></td>                                              
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                        {% for purchase in purchases %}
                            <!-- modal for purchase update -->
                            <div class="modal fade" id="purchase{{ purchase.id }}" tabindex="-1" aria-labelledby="purchaseLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-md-down modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="purchaseLabel">Update Purchase</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <!-- modal form -->
                                                <form class="row text-start g-3">
                                                    <div class="col-12">
                                                        <div id="notice1" class="text-danger fw-semibold" style="font-family: sans-serif;"></div>
                                                        <label for="purchaseId" class="form-label fw-medium">Purchase Id</label>
                                                        <input type="int" name="purchase_id" class="form-control" id="purchaseId" value="{{ purchase.id }}" readonly>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="productName" class="form-label fw-medium">Product Name</label>
                                                        <input type="text" name="product_name" class="form-control" id="productName">
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="purchaseDate" class="form-label fw-medium">Date of Purchase</label>
                                                        <input type="date" name="purchase_date" class="form-control" id="purchaseDate">
                                                    </div>                                                    
                                                    <div class="col-12">
                                                        <label for="quantity" class="form-label fw-medium">Quantity</label>
                                                        <input type="number" name="quantity" class="form-control" id="quantity">
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="unitCost" class="form-label fw-medium">Unit Cost</label>
                                                        <input type="number" step="0.01" name="unit_cost" class="form-control" id="unitCost">
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="totalCost" class="form-label fw-medium">Total Cost</label>
                                                        <input type="number" step="0.01" name="total_cost" class="form-control" id="totalCost" readonly>
                                                        <div id="notice" class="text-danger fw-semibold" style="font-family: sans-serif;"></div>
                                                    </div>                                                    
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary rounded-pill" onclick="submitForm()">
                                                <span element-name="spinner" class="spinner-border spinner-border d-none" aria-hidden="true"></span>
                                                <span element-name="buttonText">Submit</span>
                                            </button>
                                            <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid"><h3 class="fw-bold text-center" style="color: crimson; font-family: sans-serif;">No registered purchase</h3></div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        const dateSearch = document.getElementById('dateSearch');
        const productNameSearch = document.getElementById('productNameSearch');
        const searchButton = document.getElementById('searchButton');
        const yearPattern = /^\d{4}$/;  // YYYY
        const yearMonthPattern = /^\d{4}-(0[1-9]|1[0-2])$/;  // YYYY-MM
        const fullDatePattern = /^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$/; // YYYY-MM-DD

        function createTableFunction(tableArray) {
            const tableCover = document.querySelector('.table-responsive');
            tableCover.innerHTML = '';
            let tableElement = document.createElement('table');
            tableElement.classList.add('table', 'table-hover', 'align-middle');

            const tableHead = document.createElement('thead');
            tableHead.classList.add('table-dark');
            tableHead.innerHTML = `
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Cost</th>
                    <th scope="col">Total Cost</th>
                    <th scope="col"></th>
                </tr>                    
            `;

            tableElement.appendChild(tableHead);

            let tableBody = document.createElement('tbody');
            tableBody.classList.add('table-group-divider');
            

            let html = '';
            Array.from(tableArray).forEach((arr, index)=>{
                html += `
                    <tr>
                        <th scope="row">${index + 1}</th>
                        <td>${arr.purchase_date}</td>
                        <td>${arr.product_name}</td>
                        <td>${arr.Quantity}</td>
                        <td>${arr.unit_cost.toLocaleString("en-US", {minimumFractionDigits: 0, maximumFractionDigits: 2})}</td>
                        <td>${arr.total_cost.toLocaleString("en-US", {minimumFractionDigits: 0, maximumFractionDigits: 2})}</td>
                        <td><span selector="updateButton" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#purchase${arr.id}">Update</span></td>                                              
                    </tr>
                `;
            });
            tableBody.innerHTML = html;
            tableElement.appendChild(tableBody);
            tableCover.appendChild(tableElement);
            let modal = '';
            Array.from(tableArray).forEach(arr=>{
                modal += `
                    <div class="modal fade" id="purchase${arr.id}" tabindex="-1" aria-labelledby="purchaseLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen-md-down modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="purchaseLabel">Update Purchase</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <!-- modal form -->
                                        <form class="row text-start g-3">
                                            <div class="col-12">
                                                <div id="notice1" class="text-danger fw-semibold" style="font-family: sans-serif;"></div>
                                                <label for="purchaseId" class="form-label fw-medium">Purchase Id</label>
                                                <input type="int" name="purchase_id" class="form-control" id="purchaseId" value="${arr.id}" readonly>
                                            </div>
                                            <div class="col-12">
                                                <label for="productName" class="form-label fw-medium">Product Name</label>
                                                <input type="text" name="product_name" class="form-control" id="productName">
                                            </div>
                                            <div class="col-12">
                                                <label for="purchaseDate" class="form-label fw-medium">Date of Purchase</label>
                                                <input type="date" name="purchase_date" class="form-control" id="purchaseDate">
                                            </div>                                                    
                                            <div class="col-12">
                                                <label for="quantity" class="form-label fw-medium">Quantity</label>
                                                <input type="number" name="quantity" class="form-control" id="quantity">
                                            </div>
                                            <div class="col-12">
                                                <label for="unitCost" class="form-label fw-medium">Unit Cost</label>
                                                <input type="number" step="0.01" name="unit_cost" class="form-control" id="unitCost">
                                            </div>
                                            <div class="col-12">
                                                <label for="totalCost" class="form-label fw-medium">Total Cost</label>
                                                <input type="number" step="0.01" name="total_cost" class="form-control" id="totalCost" readonly>
                                                <div id="notice" class="text-danger fw-semibold" style="font-family: sans-serif;"></div>
                                            </div>                                                    
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary rounded-pill" onclick="submitForm()">
                                        <span element-name="spinner" class="spinner-border spinner-border d-none" aria-hidden="true"></span>
                                        <span element-name="buttonText">Submit</span>
                                    </button>
                                    <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div> 
                `;
            });

            tableCover.innerHTML += modal;
            attachedUpdateButtonFunction();
        }

        searchButton.addEventListener('click', async ()=>{

            document.getElementById('opaque').classList.remove('d-none');
            const spinnerSearch = document.getElementById('spinnerSearch');
            const buttonTextSearch = document.getElementById('buttonTextSearch');
            
            spinnerSearch.classList.remove('d-none'); // Show spinner
            buttonTextSearch.style.display = 'none'; // Hide text

            const value = dateSearch.value;
            if (value==='') {
                document.getElementById('notice2').innerHTML = "Ensure the date field is filled";
                spinnerSearch.classList.add('d-none'); // Hide spinner
                buttonTextSearch.style.display = ''; // Show text
                document.getElementById('opaque').classList.add('d-none');
                return;
            }else {
                document.getElementById('notice2').innerHTML = '';
            }

            if (yearPattern.test(value) || yearMonthPattern.test(value) || fullDatePattern.test(value)) {
                document.getElementById('notice2').innerHTML = '';
            }else {
                document.getElementById('notice2').innerHTML = "Enter a valid date";
                spinnerSearch.classList.add('d-none'); // Hide spinner
                buttonTextSearch.style.display = ''; // Show text
                document.getElementById('opaque').classList.add('d-none');
                return;
            }
            if (fullDatePattern.test(value)) {
                const date = new Date(value);
                const [year, month, day] = value.split('-').map(Number);
                if (date.getMonth() + 1 === month) {
                    document.getElementById('notice2').innerHTML = '';
                } else {
                    document.getElementById('notice2').innerHTML = "Enter a valid date";
                    spinnerSearch.classList.add('d-none'); // Hide spinner
                    buttonTextSearch.style.display = ''; // Show text
                    document.getElementById('opaque').classList.add('d-none');
                    return;
                }
            }

            const url = `/purchase-data?date_str=${encodeURIComponent(value)}`;

            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`http error: ${response.status}`);
                }

                const result = await response.json();
                
                const tableArray = result.data;
                dateSearch.value = '';
                createTableFunction(tableArray);
                spinnerSearch.classList.add('d-none'); // Hide spinner
                buttonTextSearch.style.display = ''; // Show text
                document.getElementById('opaque').classList.add('d-none');

            } catch (error) {
                spinnerSearch.classList.add('d-none'); // Hide spinner
                buttonTextSearch.style.display = ''; // Show text
                document.getElementById('opaque').classList.add('d-none');
                alert(error);
            }               

        });


        function inputEventListernerFunction() {

                dateSearch.addEventListener('input', ()=>{
                const value1 = dateSearch.value.trim().toLocaleLowerCase();
                const value2 = productNameSearch.value.trim().toLocaleLowerCase();

                activate(value1, value2);
            });
            productNameSearch.addEventListener('input', ()=>{
                const value1 = dateSearch.value.trim().toLocaleLowerCase();
                const value2 = productNameSearch.value.trim().toLocaleLowerCase();

                activate(value1, value2);
            });
            
        }


        function activate(value1, value2) {
            
            const bodyRows = document.querySelectorAll('tbody tr');
            bodyRows.forEach(row=>{
                
                const rowContent = Array.from(row.children).slice(1,3).map(td=>td.innerHTML.trim().toLocaleLowerCase()).join(' ');


                if (value1 !== '' && value2 === '') {
                    if (rowContent.includes(value1)) {
                        row.style.display = '';
                    }else {
                        row.style.display = 'none';
                    }  
                }else if (value1 === '' && value2 !== '') {
                    if (rowContent.includes(value2)) {
                        row.style.display = '';
                    }else {
                        row.style.display = 'none';
                    }  
                }else if (value1 !== '' && value2 !== '') {
                    if (rowContent.includes(value1) && rowContent.includes(value2)) {
                        row.style.display = '';
                    }else {
                        row.style.display = 'none';
                    }  
                }else if (value1 === '' && value2 === '') {
                    row.style.display = '';
                }
            });
        }

        function attachedUpdateButtonFunction() {
            const updateButtons = document.querySelectorAll('span[selector="updateButton"]');

            updateButtons.forEach(updateButton => {
                updateButton.addEventListener('click',()=>{
                    const modalId = updateButton.getAttribute('data-bs-target').split('#')[1];
                    const modal = document.getElementById(modalId);
                    
                    const form = modal.querySelector('form');
                    

                    const quantity = form.querySelector('input#quantity');
                    const unitCost = form.querySelector('input#unitCost');
                    const totalCost = form.querySelector('input#totalCost');

                    quantity.addEventListener('input',()=>{   
                        if (quantity.value !== '' && unitCost.value !== '') {
                            const qty = parseInt(quantity.value, 10) || 0;
                            const cost = parseFloat(unitCost.value) || 0;
                            totalCost.value = qty * cost;
                        }else {
                            totalCost.value = '';
                        }
                    });

                    unitCost.addEventListener('input',()=>{
                        if (quantity.value !== '' && unitCost.value !== '') {
                            const qty = parseInt(quantity.value, 10) || 0;
                            const cost = parseFloat(unitCost.value) || 0;
                            totalCost.value = qty * cost;
                        }else {
                            totalCost.value = '';
                        }
                    });
                });
            });
        }

        async function submitForm() {
            document.getElementById('opaque').classList.remove('d-none');
            const spinner = document.querySelector('div.modal.fade.show span[element-name="spinner"]');
            const buttonText = document.querySelector('div.modal.fade.show span[element-name="buttonText"]');

            spinner.classList.remove('d-none'); // Show spinner
            buttonText.style.display = 'none'; // Hide text

            const form = document.querySelector('div.modal.fade.show form');
            const formData = new FormData(form);
            const quantity = form.querySelector('input#quantity');
            const unitCost = form.querySelector('input#unitCost');
            const productName = form.querySelector('input#productName');

            if (productName.value !== '' && quantity.value === '') {
                form.querySelector('div#notice').innerHTML = "please enter quantity";
                form.querySelector('div#notice1').innerHTML = "please enter quantity";
                spinner.classList.add('d-none'); // Hide spinner
                buttonText.style.display = ''; // Show text
                document.getElementById('opaque').classList.add('d-none');
                return;
            }

            if (quantity.value === '' && unitCost.value !== '') {

                form.querySelector('div#notice').innerHTML = "if either of quantity or unit cost is filled the other must not be empty";
                form.querySelector('div#notice1').innerHTML = "if either of quantity or unit cost is filled the other must not be empty";
                spinner.classList.add('d-none'); // Hide spinner
                buttonText.style.display = ''; // Show text
                document.getElementById('opaque').classList.add('d-none');
                return;
            }
            if (quantity.value !== '' && unitCost.value === '') {

                form.querySelector('div#notice').innerHTML = "if either of quantity or unit cost is filled the other must not be empty";
                form.querySelector('div#notice1').innerHTML = "if either of quantity or unit cost is filled the other must not be empty";
                spinner.classList.add('d-none'); // Hide spinner
                buttonText.style.display = ''; // Show text
                document.getElementById('opaque').classList.add('d-none');
                return;
            }

            const url = "/purchase/update";

            try {
                const response = await fetch(url, {
                    method: 'POST',
                    body: formData
                })
                if (!response.ok) {
                    const errorData = await response.json();
                    form.querySelector('div#notice').innerHTML = errorData.detail;
                    form.querySelector('div#notice1').innerHTML = errorData.detail;
                    spinner.classList.add('d-none'); // Hide spinner
                    buttonText.style.display = ''; // Show text
                    document.getElementById('opaque').classList.add('d-none');
                    return;
                }

                const result = await response.json();

                alert(result.detail);
                window.location.reload();                    
            } catch (error) {
                spinner.classList.add('d-none'); // Hide spinner
                buttonText.style.display = ''; // Show text
                document.getElementById('opaque').classList.add('d-none');
                alert(`catched error: ${error}`);
            }
        }

        document.addEventListener('DOMContentLoaded', ()=>{
            attachedUpdateButtonFunction();
            inputEventListernerFunction();
        });
        
    </script>
{% endblock %}